.skills  {
    padding: 10px;
    margin: 150px 0;

    h1 {
        text-align: center;
        font-size: 56px;

        span {
            color: #00ECFD;
        }
    }
}

.container {
    display: flex;
    justify-content: space-between;
}

.skills-item {
    margin-top: 50px;
    width: 40%;

    h3 {
        text-align: center;
        font-size: 30px;
        text-decoration: underline;
        text-underline-offset: 10px;
        margin-bottom: 50px;
    }
}

.progress-bar {
    display: flex;
    flex-direction: column;
    gap: 30px;

    i {
        font-size: 30px;
        margin-right: 10px;
    }

    .progress {
        margin-top: 10px;
        height: 5px;
        background-color: #00ECFD;
        border-radius: 5px;
    }
}

.progress-bar {
    .ruler {
        width: 100%;
        height: 3px;
        border-radius: 5px;
        background: #000;
        opacity: 0.4;
        position: relative;
    
        .unit {
            position: absolute;
            right: 0;
            bottom: 5px;
            color: #fff;
        }
    }

    .progress.html {
        width: 90%;
    }
    .progress.scss {
        width: 80%;
    }
    .progress.js {
        width: 60%;
    }
    .progress.react {
        width: 70%;
    }
    .progress.java {
        width: 60%;
    }
}



.progress-bar.second {
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.progress-bar.second .title-persional {
    font-size: 20px;
}

.progress-bar .progress.creativity {
    width: 80%;
}
.progress-bar .progress.comunication {
    width: 70%;
}
.progress-bar .progress.problem {
    width: 80%;
}
.progress-bar .progress.teamWork {
    width: 90%;
}


@media (max-width: 460px) {
    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .skills-item {
        margin-top: 20px;
        width: 90%;
    }
}

@keyframes slideRight {
    0% {
        transform: translateX(-100px);
        opacity: 0;

    }
    100% {
        transform: translateX(0px);
        opacity: 1;
    }
}

@keyframes slideLeft {
    0% {
        transform: translateX(100px);
        opacity: 0;

    }
    100% {
        transform: translateX(0px);
        opacity: 1;
    }
}

@keyframes slideTop {
    0% {
        transform: translateY(100px);
        opacity: 0;

    }
    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}

@keyframes slideBottom {
    0% {
        transform: translateY(-100px);
        opacity: 0;

    }
    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}