@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;1,300;1,400;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200;0,6..12,300;0,6..12,400;1,6..12,200;1,6..12,300;1,6..12,400;1,6..12,500&family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,800;0,900;1,200;1,300;1,400;1,800&family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;1,200;1,300;1,400;1,500&family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,600;1,700&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Nunito', sans-serif;;
}

html {
  scroll-behavior: smooth;
}

body {
  color: #fff;
  background: linear-gradient(90deg, #4E6F8C, #0C2441);
}

.bg-hero {
  background: url(./images/39607.jpg);
  background-position: center;
  background-size: cover;
  height: 100vh;
}

.container {
  max-width: 1200px !important;
  margin: 0 auto;
  position: relative;
  
}

.container-Advanced  {
  max-width: 1200px !important;
  margin: 0 auto;
}

@media (max-width: 1300px) {
  .container {
    padding: 0 1.5rem;
  }
}

@media (max-width: 460px) {
  .bg-hero {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 38%;
    height: 110vh;
  }
}